<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">mirth rest patient querier</h3>
</div>

<div class="jumbotron">
  <h1>This is a hack!</h1>
  <p class="lead">
    Built as part of the OxBRC Friday Hack Series.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>

<div class="row marketing">
  <h4>Yeoman</h4>
  <p>
  This hack was brought to you with the help of the Yeoman Angular generator.
  </p>

  <h4>Bootstrap</h4>
  <p>Saving us the effort of making it look respectable</p>

  <h4>SASS/SCSS</h4>
  <p>Compiled stylesheets to make your life easier</p>

  <h4>Coffeescript</h4>
  <p>It's like Javascript, but groovier...</p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>

<div>
  <p ng-repeat="thing in awesomeThings">{{thing}}</p>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
